
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Category tab -->
  <ion-tab-button tab="category">
    <ion-icon name="list-outline"></ion-icon>
  <ion-label>Category</ion-label>
  </ion-tab-button>

  <!-- News tab -->
  <ion-tab-button tab="news">
    <ion-icon name="newspaper-outline"></ion-icon>
  <ion-label>News</ion-label>
  </ion-tab-button>

  <!-- Weather tab -->
  <ion-tab-button tab="weather">
    <ion-icon name="cloudy-night-outline"></ion-icon>
  <ion-label>Weather</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
