<ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="openCategory('business')">Business</ion-button>
  <ion-button expand="full" (click)="openCategory('science')">Science</ion-button>
  <ion-button expand="full" (click)="openCategory('sports')">Sports</ion-button>
  <ion-button expand="full" (click)="openCategory('entertainment')">Entertainment</ion-button>
  <ion-button expand="full" (click)="openCategory('technology')">Technology</ion-button>
  <ion-button expand="full" (click)="openCategory('health')">Health</ion-button>
  
</ion-content>
